<!DOCTYPE html>
<html>
<%= erb :part_head %>

<body>
	<%= erb :part_nav %>

	<div class="load_pic_form">
	<form action="/" method=POST enctype="multipart/form-data">
		<input type="file" name="file" accept="image/*"><br />
		<input type="submit" value="Загрузить картинку!"> 
	</form>
	</div>
</body>
</html>