	<div class="nav">
		<!-- TODO: Сделать логотип -->
		<div class="element">
			<div class="point">
				<a href="/">Загрузить</a>
			</div>
		</div>
		<div class="element">
			<div class="point">
				<a href="/gallery">Галерея</a>
			</div>
		</div>
		<div class="element">
			<div class="point">
				<a href="/rand">Randompic</a>
			</div>
		</div>
	</div>