* {
	margin: 0;
}

body {
	background-color: #f5f5f5;
}

.nav {
	width: 100%;
	height: 70px;
	background-color: #2c3e50;
}

.nav .element .point {
	margin-top: 20px;
	float: left;
	font-size: 60px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'Iris KG';
}

.nav .element .point a {
	text-decoration: none;
	color: #f5f5f5;
}

.nav .element .point a:hover {
	color: white;
	text-shadow: 0 0 15px;
}

.nav .element .avatar {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
